<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user && current_user.admin? %>
        <th>Admin</th>
        <th>Blocked</th>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <% if current_user && current_user.admin? %>
          <% if user.admin? %>
            <td><span class="label label-success">Admin account</span></td>
          <% else %>
            <td></td>
          <% end %>
          <% if user.blocked? %>
            <td><span class="label label-info">Account blocked</span></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
